name: "Build Tauri App"

on:
  push:
    branches:
      - main

jobs:
  # Windows-x86_64
  windows-x86_64:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4.2.0
        with:
          submodules: true

      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 20.12.2
          cache: npm

      - uses: dtolnay/rust-toolchain@stable

      - name: Install cinny dependencies
        run: cd cinny && npm ci

      - name: Install tauri dependencies
        run: npm ci

      - name: Build desktop app with Tauri
        uses: tauri-apps/tauri-action@v0.5.14
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"

      - name: Get app version
        run: |
          $json = (Get-Content "src-tauri\tauri.conf.json" -Raw) | ConvertFrom-Json
          $version = $json.package.version
          echo "TAURI_VERSION=$version" >> $Env:GITHUB_ENV
        shell: pwsh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-x86_64
          path: |
            src-tauri/target/release/bundle/msi/*.msi
            src-tauri/target/release/bundle/msi/*.zip
            src-tauri/target/release/bundle/msi/*.sig


  # Linux-x86_64
  linux-x86_64:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.0
        with:
          submodules: true

      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 20.12.2
          cache: npm

      - uses: dtolnay/rust-toolchain@stable
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgtk-3-dev \
            libwebkit2gtk-4.1-dev \
            libsoup-3.0-dev \
            libappindicator3-dev \
            librsvg2-dev \
            patchelf

      - name: Install cinny dependencies
        run: cd cinny && npm ci

      - name: Install tauri dependencies
        run: npm ci

      - name: Build desktop app with Tauri
        uses: tauri-apps/tauri-action@v0.5.14
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-x86_64
          path: |
            src-tauri/target/release/bundle/deb/*.deb
            src-tauri/target/release/bundle/appimage/*.AppImage
            src-tauri/target/release/bundle/appimage/*.tar.gz
            src-tauri/target/release/bundle/appimage/*.sig


  # macos-universal
  macos-universal:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4.2.0
        with:
          submodules: true

      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 20.12.2
          cache: npm

      - uses: dtolnay/rust-toolchain@stable
        with:
          target: aarch64-apple-darwin,x86_64-apple-darwin

      - name: Install cinny dependencies
        run: cd cinny && npm ci

      - name: Install tauri dependencies
        run: npm ci

      - name: Build desktop app with Tauri
        uses: tauri-apps/tauri-action@v0.5.14
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        with:
          args: "--target universal-apple-darwin"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-universal
          path: |
            src-tauri/target/universal-apple-darwin/release/bundle/dmg/*.dmg
            src-tauri/target/universal-apple-darwin/release/bundle/macos/*.tar.gz
            src-tauri/target/universal-apple-darwin/release/bundle/macos/*.sig
